@model ASPNET.ViewModel.VMLibro

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <div class="row">
        <div class="col-3 mt-5">
            <img class="ml-5 mr-5" src="data:image/jpg;base64,@System.Convert.ToBase64String(Model.LibroSeleccionado.Imagen)" width="160" height="230" />
        </div>
        <div class="col-9 mt-5">
            <dl class="row">
                <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.LibroSeleccionado.Titulo)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.LibroSeleccionado.Titulo)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LibroSeleccionado.AutorAutor)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.LibroSeleccionado.AutorAutor.Apellidos), @Html.DisplayFor(model => model.LibroSeleccionado.AutorAutor.Nombre)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LibroSeleccionado.GeneroGenero)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.LibroSeleccionado.GeneroGenero.Descripcion)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LibroSeleccionado.ClasificacionClasificacion)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.LibroSeleccionado.ClasificacionClasificacion.Descripcion)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LibroSeleccionado.Descripción)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.LibroSeleccionado.Descripción)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="ml-5 mt-2">
    <a asp-action="Index">Volver al catálogo</a>
</div>
<h3 class="mt-5">Otros libros de @Html.DisplayFor(modelItem => Model.LibroSeleccionado.NombreCompletoAutor)</h3>
<table class="table mt-1">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.LibroSeleccionado.Titulo)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model.LibrosMismoAutor)
        {
            <tr>
                <td>
                    <img src="data:image/jpg;base64,@System.Convert.ToBase64String(libro.Imagen)" widht="60" height="100" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@libro.LibroId">@Html.DisplayFor(modelItem => libro.Titulo)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
